
<div>
  <mat-toolbar class="header">
    <label>Welcome To Tronald_Dump</label>
  </mat-toolbar>
</div>
 <div class="my_expansion">
  <mat-accordion>
  <mat-expansion-panel *ngFor="let tag of returnTags();" >
      <mat-expansion-panel-header matRipple (click)="getQuotes(tag);">
          <mat-panel-title style="justify-content: center;">{{tag}}</mat-panel-title>
      </mat-expansion-panel-header>
      <div style="color: white">
        <p  *ngFor="let quote of returnQuotes(); let i=index">{{[i+1]}}{{". "}}{{quote}}</p>
      </div>
  </mat-expansion-panel>
</mat-accordion>
</div>