/* .upload_button {
    display: inline-block;
  }
.upload_button input[type=file] {
    display:none;
  } */

  /* .mat-expanded .mat-expansion-panel-header-title .material-icons { transform: rotate(90deg); position: relative;} */


  .header {background-color: blueviolet;}
   label{color: white;}
  
  .my_expansion{
    padding-top: 50px;
    max-width: 600px;
    margin-left: 400px;
  }

  .mat-expansion-panel{
  background-color: cornflowerblue;
  margin-bottom: 10px;
  }